* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(84, 98, 111, 1);
}
.wrapper {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    color: white;
}
